* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navlink {
  font-size: 30px;
  display: inline-block;
  position: relative;
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.navlink:hover {
  color: black;
}

.navlink2 {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.navlink2:hover {
  color: black;
}

.navlink3 {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.navlink3:hover {
  color: black;
}

.navlink4 {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.navlink4:hover {
  color: black;
}

.nav {
  list-style-type: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  list-style-type: none;
  text-decoration: none;
  background: #90d0ee;
  color: white;
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

body#bgpic {
  background: url(../images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg);
  background-attachment: fixed;
  background-size: cover;
}

body#bgpic .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 66, 128, 0.5);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

h1.largehead,
h2.largehead,
h3.largehead {
  font-size: 4rem;
}

h1.smallhead,
h2.smallhead,
h3.smallhead {
  font-size: 40px;
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding: 4rem;
  height: 100%;
}

main .icons {
  margin-top: 1rem;
}

main a {
  padding: 0.4rem;
}

#home {
  overflow: hidden;
  font-size: 100px;
}

#home h1 {
  margin-top: 20vh;
}

.ig {
  color: white;
  font-size: 60px;
  text-decoration: none;
}

.ig:hover {
  color: #007092;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.git {
  color: white;
  font-size: 60px;
  text-decoration: none;
}

.git:hover {
  color: #007092;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: scale(2, 3);
          transform: scale(2, 3);
}

.fb {
  color: white;
  font-size: 60px;
  text-decoration: none;
}

.fb:hover {
  color: #007092;
  -webkit-transform: scale(1, 2);
          transform: scale(1, 2);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.linked {
  color: white;
  font-size: 60px;
  text-decoration: none;
}

.linked:hover {
  color: #007092;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menubrand {
  background: red;
}

.largehead {
  font-family: "Montserrat", sans-serif;
  color: #fb4264;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #f40a35;
}

.largehead {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@-webkit-keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16, 0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b, 0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16, 0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b, 0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

.icons {
  -webkit-transform: scale(2);
          transform: scale(2);
}

a.navlink::before {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

a.navlink:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.menu-btn {
  margin-top: 20px;
  position: absolute;
  z-index: 3;
  right: 25px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  border: 0.2px solid;
  width: 45px;
  height: 1px;
  margin: 0 0 5px 0;
  margin-top: 10px;
  background: white;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
  width: 50%;
  padding: 0;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  opacity: 0.9;
  background: #003567;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.nav .profilepic {
  background: url(../images/5158051F-4329-456B-AEAD-935006A13BDA.jpeg);
  background-attachment: fixed;
  background-size: cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: solid 3px #90d0ee;
}

.item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.item {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  margin: 20px;
}

.menu-branding {
  background-color: #004280;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

@media screen and (min-width: 769px) and (max-width: 1170) {
  .nav {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .largehead {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin-left: 60px;
    line-height: 1.5em;
    font-size: 10px;
  }
  .nav {
    width: 100%;
  }
  .smallhead {
    margin-left: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #icons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .largehead {
    margin-left: 0;
    line-height: 1.5em;
    font-size: 5px;
  }
  .text-secondary {
    margin-left: 30px;
  }
  .smallhead {
    margin-left: 20px;
  }
  #icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .menu {
    opacity: 1;
  }
}
/*# sourceMappingURL=newest.css.map */