




$primary-color: #90d0ee;
$secondary-color:rgb(0, 66, 128) ;
$show-home-image: true;
$home-image: url(../images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg);
$background-opacity: 0.5;





* {
    box-sizing: border-box;
}

@mixin background{
    @if $show-home-image{
        &#bgpic{
            background:$home-image;
            background-attachment: fixed;
            background-size: cover;
            .overlay{
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: rgba($secondary-color,$background-opacity)
            }
        }
        
    }
}

.navlink{
    list-style-type: none;
    text-decoration: none;
    color: white;
    &:hover{
        color:black;
        

    }
}

.nav{
    list-style-type: none;
}


*{
    box-sizing: border-box;
}

body {
    @include background;
    list-style-type: none;
    text-decoration: none;
    background: $primary-color;
    color: white;
    height: 100%;
    margin: 0 ;
    line-height:1.5;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3{
    margin:0;
    font-weight: 400;
&.largehead{
    font-size: 4rem;
    
}

&.smallhead{
    font-size: 40px;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    
   
}


}



header {
    position:fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary{
// color:$secondary-color;
}

main{
    
  
    padding:4rem;
    height:100%;
    .icons{
        margin-top: 1rem;
       
    }
    a{
        padding:0.4rem;
        
        
        
    }



}

#home{
  overflow:hidden;
  font-size: 100px;
  h1{
    margin-top:20vh;
  }
}


.ig {
    color:white;
    font-size: 60px;
    text-decoration: none; }
  
  .ig:hover {
    color: #007092;
    transition: all .5s ease-out; }
  
  .git {
    color: white;
    font-size: 60px;
    text-decoration: none; }
  
  .git:hover {
    color: #007092;
    transition: all .5s ease-out; 
    transform: scale(2,3);
}
  
  .fb {
    color: white;
    font-size: 60px;
    text-decoration: none; }
  
  .fb:hover {
    color: #007092;
    transform: scale(1,2);
     
    
    
    transition: all .5s ease-out; }
  
  .linked {
    color:white;
    font-size: 60px;
    text-decoration: none; }
  
  .linked:hover {
    color: #007092;
    transition: all .5s ease-out; }


    .menubrand{
      background: red;
    }


    .largehead{
        font-family: 'Montserrat', sans-serif;
        color: #FB4264;
        font-size: 9vw;
        line-height: 9vw;
        text-shadow: 0 0 3vw #F40A35;
  
    }

    .largehead {
        animation: neon 1s ease infinite;
        -moz-animation: neon 1s ease infinite;
        -webkit-animation: neon 1s ease infinite;
      }
      
      @keyframes neon {
        0%,
        100% {
          text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
          color: #FED128;
        }
        50% {
          text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
          color: #806914;
        }
      }




      .icons{


        transform: scale(2);


      }


   a.navlink:after{
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 7%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: scale(0,1);
      transform: scale(0,1);
   }

   a.navlink:hover:after{
    opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
   }




   .menu-btn{
    position: absolute;
    z-index: 3;
    right: 25px;
    cursor: pointer;
    transition: all .5s ease-out;

    .btn-line{
      
      border:.5px solid;
        width :28px;
        height: 3px;
        margin: 0 0 5px 0;
        margin-top: 10px;
        background: white;
        transition: all .5s ease-out;
        

    }


    &.close{
      transform:rotate(180deg);


      .btn-line{
        &:nth-child(1){
          transform:rotate(45deg) translate(5px, 5px);
          opacity: 0
        }
        &:nth-child(2){
       opacity:0;
        }
        &:nth-child(3){
          opacity:0;
           }


      }



    }






  



}

.close{

}


.linkednew{
  color: red;
  transform: rotate(360deg);
}