




$primary-color: #90d0ee;
$secondary-color:rgb(0, 66, 128) ;
$show-home-image: true;
$home-image: url(../images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg);
$background-opacity: 0.5;





* {
    box-sizing: border-box;
}

@mixin background{
    @if $show-home-image{
        &#bgpic{
            background:$home-image;
            background-attachment: fixed;
            background-size: cover;
            .overlay{
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: rgba($secondary-color,$background-opacity)
            }
        }
        
    }
}

.navlink{
  font-size: 30px;
  display: inline-block;
  position: relative;
    list-style-type: none;
    text-decoration: none;
    color: white;
    &:hover{
        color:black;
      
        

    }
}
.navlink2{
  list-style-type: none;
  text-decoration: none;
  color: white;
  &:hover{
      color:black;
      

  }
}
.navlink3{
  list-style-type: none;
  text-decoration: none;
  color: white;
  &:hover{
      color:black;
      

  }
}
.navlink4{
  list-style-type: none;
  text-decoration: none;
  color: white;
  &:hover{
      color:black;
      

  }
}

.nav{
    list-style-type: none;
}


*{
    box-sizing: border-box;
}

body {
    @include background;
    list-style-type: none;
    text-decoration: none;
    background: $primary-color;
    color: white;
    height: 100%;
    margin: 0 ;
    line-height:1.5;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3{
    margin:0;
    font-weight: 400;
&.largehead{
    font-size: 4rem;
    
}

&.smallhead{
    font-size: 40px;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    
   
}


}



header {
    position:fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary{
// color:$secondary-color;
}

main{
    
  
    padding:4rem;
    height:100%;
    .icons{
        margin-top: 1rem;
       
    }
    a{
        padding:0.4rem;
        
        
        
    }



}

#home{
  overflow:hidden;
  font-size: 100px;
  h1{
    margin-top:20vh;
  }
}


.ig {
    color:white;
    font-size: 60px;
    text-decoration: none; }
  
  .ig:hover {
    color: #007092;
    transition: all .5s ease-out; }
  
  .git {
    color: white;
    font-size: 60px;
    text-decoration: none; }
  
  .git:hover {
    color: #007092;
    transition: all .5s ease-out; 
    transform: scale(2,3);
}
  
  .fb {
    color: white;
    font-size: 60px;
    text-decoration: none; }
  
  .fb:hover {
    color: #007092;
    transform: scale(1,2);
     
    
    
    transition: all .5s ease-out; }
  
  .linked {
    color:white;
    font-size: 60px;
    text-decoration: none; }
  
  .linked:hover {
    color: #007092;
    transition: all .5s ease-out; }


    .menubrand{
      background: red;
    }


    .largehead{
        font-family: 'Montserrat', sans-serif;
        color: #FB4264;
        font-size: 9vw;
        line-height: 9vw;
        text-shadow: 0 0 3vw #F40A35;
  
    }

    .largehead {
        animation: neon 1s ease infinite;
        -moz-animation: neon 1s ease infinite;
        -webkit-animation: neon 1s ease infinite;
      }
      
      @keyframes neon {
        0%,
        100% {
          text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
          color: #FED128;
        }
        50% {
          text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
          color: #806914;
        }
      }




      .icons{


        transform: scale(2);


      }



      a.navlink::before{

        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0 ;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
}


  

   a.navlink:hover::before{
   transform: scaleX(1);
   transform-origin: bottom left;
   }




   .menu-btn{
     margin-top:20px;
    position: absolute;
    z-index: 3;
    right: 25px;
    cursor: pointer;
    transition: all .5s ease-out;

    .btn-line{
      
      border:.2px solid;
        width :45px;
        height: 1px;
        margin: 0 0 5px 0;
        margin-top: 10px;
        background: white;
        transition: all .5s ease-out;
        

    }


    &.close{
      transform:rotate(180deg);


      .btn-line{
        &:nth-child(1){
          transform:rotate(45deg) translate(5px, 5px);
          
        }
        &:nth-child(2){
       opacity:0;
        }
        &:nth-child(3){
          transform:rotate(-45deg) translate(7px, -6px);
           }


      }



    }







  



}

.close{

}

.menu{
  position: fixed;
  top: 0; 
  width: 100%;
  opacity: 0.9;
  visibility: hidden;


  &.show{
    
    visibility: visible;
  }
  

  
  
}



.nav{
  display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: right;
    width: 50%;
    padding: 0;
    height: 100vh;
    margin-top:0px;
    margin-bottom: 0px;
    overflow: hidden;
    opacity: 0.9;
    background: darken($secondary-color,5);
    transform: translate3d(0,-100%,0);
    transition: all .5s ease-out;
    
    &.show{
      transform: translate3d(0,0,0);
    }

    .profilepic{
      background: url(../images/5158051F-4329-456B-AEAD-935006A13BDA.jpeg);
      background-attachment: fixed;
            background-size: cover;
      height: 250px;
      width: 250px;
      border-radius: 50%;
      border: solid 3px $primary-color;
    }

}





@for $x from 1 through 4{
  .item:nth-child(#{$x}){
    transition-delay: $x * 0.1s;
  }
}




.item{
  transition-delay:  0.1s;
  margin: 20px;
}

.menu-branding {
  background-color: $secondary-color;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}