* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navlink {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.navlink:hover {
  color: black;
}

.nav {
  list-style-type: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  list-style-type: none;
  text-decoration: none;
  background: #90d0ee;
  color: white;
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

body#bgpic {
  background: url(../images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg);
  background-attachment: fixed;
  background-size: cover;
}

body#bgpic .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 66, 128, 0.5);
}

h1, h2, h3 {
  margin: 0;
  font-weight: 400;
}

h1.largehead, h2.largehead, h3.largehead {
  font-size: 4rem;
}

h1.smallhead, h2.smallhead, h3.smallhead {
  font-size: 40px;
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding: 4rem;
  height: 100%;
}

main .icons {
  margin-top: 1rem;
}

main a {
  padding: 0.4rem;
}

#home {
  overflow: hidden;
  font-size: 100px;
}

#home h1 {
  margin-top: 20vh;
}

.ig {
  color: white;
  font-size: 60px;
  text-decoration: none;
}

.ig:hover {
  color: #007092;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.git {
  color: white;
  font-size: 60px;
  text-decoration: none;
}

.git:hover {
  color: #007092;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  -webkit-transform: scale(2, 3);
          transform: scale(2, 3);
}

.fb {
  color: white;
  font-size: 60px;
  text-decoration: none;
}

.fb:hover {
  color: #007092;
  -webkit-transform: scale(1, 2);
          transform: scale(1, 2);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.linked {
  color: white;
  font-size: 60px;
  text-decoration: none;
}

.linked:hover {
  color: #007092;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.menubrand {
  background: red;
}

.largehead {
  font-family: 'Montserrat', sans-serif;
  color: #FB4264;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;
}

.largehead {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@-webkit-keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.icons {
  -webkit-transform: scale(2);
          transform: scale(2);
}

a.navlink:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 7%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

a.navlink:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/*# sourceMappingURL=newest.css.map */